#divcss5{ margin:10px auto} 
#divcss5 img{ border-radius:50%} 
.h{
width:900px;}
html,body{ margin:0; padding:0;overflow-x:hidden;overflow-y:auto;}
a.c1:link {color: #000000;text-decoration:none;font-family:SimHei}     
a.c1:visited {color: #000000;text-decoration:none;font-family:SimHei}  
a.c1:hover {color: #adadad;text-decoration:none;font-family:SimHei} 