<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/css.css" type="text/css"/>

</head>
<body class="header">
<a href="index.html" target="showframe"><img src="img/logo.png" width="142" height="55"
                                             style="position:absolute; left:30px; top:0px;"/></a>
<img src="img/RuoYu.png" width="336" height="65" style="position:absolute; left:500px; top:0px;"/>
<a href="exitforum.html" class="button button1" style="position:absolute; left:1100px; top:5px;">退出论坛</a>
<div class="search bar7" style="position:absolute; left: 50px; top:0px;">
    <form>
        <input type="text" placeholder="帖子/电影" name="crid" style="position:relative; left:100px; top:0px;">
        <button type="submit" style="position:relative; left:350px; top:0px;"></button>
    </form>
</div>

</body>
</html>
