<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页-欢迎来到若愚电影论坛</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- CSS -->
    <link href="{{ url_for('static',filename='css/materialize.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <!-- Font -->
    <link href="{{ url_for('static',filename='css/icon.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
</head>

<body>
<div class="">
    {#页眉#}
    <div class="row valign-wrapper container">
        <div class="col s2">
            <a href="{{ url_for('forum.index') }}">
                <img class="logo responsive-img" src="{{ url_for('static',filename='img/logo.png') }}"
                     alt=""/>
            </a>
        </div>
        <div class="col s2">
            <div class="valign-wrapper">
                <input class="" type="text" placeholder="帖子/电影" name="crid" style="margin-right: 3%">
                <button class="btn btn-primary text-black-50" style="background: #ff0080;" type="submit">搜索
                </button>
            </div>
        </div>

        <div class="col s4">
            <img class="ruoyu responsive-img" src="{{ url_for('static',filename='img/RuoYu.png') }}" alt=""/>
        </div>

        {% if g.user %}
            <div class="col s1">
                <a style="color: #ff0080;" href="{{ url_for('user.personal_page',id=g.user[0]) }}">{{ g.user[2] }}</a>
            </div>
            <div class="col s1">
                <a href="{{ url_for('user.personal_page',id=g.user[0]) }}">
                    <img class="responsive-img circle" src="{{ url_for('static',filename='') }}{{ g.user[5] }}"
                         alt=""/>
                </a>
            </div>
            <div class="col s1">
                <a href="{{ url_for('auth.logout') }}">
                    <button class="btn btn-primary" style="background: #ff0080;">退出</button>
                </a>
            </div>
        {% else %}
            <div class="col s1">
                <a href="{{ url_for('auth.signup') }}">
                    <button class="btn btn-primary" style="background: #ff0080;">注册</button>
                </a>
            </div>
            <div class="col s1">
                <a href="{{ url_for('auth.login') }}">
                    <button class="btn btn-primary" style="background: #ff0080;">登陆</button>
                </a>
            </div>
        {% endif %}
    </div>


    {#导航栏#}
    <nav>
        <div class="nav-wrapper" style="background: #ff0080;">
            <ul id="nav-mobile" class="right">
                <li><a href="{{ url_for('forum.index') }}">首页</a></li>
                <li><a href="{{ url_for('forum.square') }}">广场</a></li>
                <li><a href="{{ url_for('forum.hot') }}">正在热映</a></li>
                <li><a href="{{ url_for('forum.show') }}">即将上映</a></li>
                {% if g.user %}
                    <li><a href="{{ url_for('post.post') }}">发帖</a></li>
                    <li><a href="{{ url_for('user.personal_page',id = g.user[0]) }}">个人页面</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {#内容#}
    {% block content %}
        <!-- Default Theme CSS File-->
        <link id="switcher" href="{{ url_for('static',filename='css/themes/default-theme.css') }}" type=" text/css"
              rel="stylesheet" media="screen,projection"/>
        <div class="main-wrapper">
            <main role="main">
                <section id="blog-details">
                    <div class="container">
                        <div class="row">
                            <div class="col s12">
                                <div class="blog-content blog-archive">
                                    <!--Posts-->
                                    {% for i in range(length) %}
                                        <!-- Start Single Blog-->
                                        <div class="blog-post">
                                            <div class="card">
                                                <div class="card-content blog-post-content">
                                                    <h2>
                                                        <a href="{{ url_for('post.post_details',id = posts[i][0]) }}">{{ posts[i][1] }}</a>
                                                    </h2>
                                                    <div class="meta-media">
                                                        <div class="single-meta" style="display: inline;">
                                                            <img class="avatar"
                                                                 style="width: 64px;height: 64px; border-radius: 8px;margin-right: 20px;"
                                                                 src="






                                                                         {{ url_for('static',filename='') }}{{ authors[i][5] }}"/>
                                                            <a href="#">用户：{{ authors[i][2] }}</a><br>
                                                            时间：<a>{{ posts[i][3] }}</a>
                                                        </div>
                                                        <div class="single-meta">
                                                            分类：<a href="#">电影</a>
                                                        </div>
                                                    </div>
                                                    <p>{{ posts[i][2] }}</p>
                                                </div>
                                                <div class="card-action">
                                                    <a href="#" class="post-comment"><i
                                                            class="material-icons">comment</i><span>15</span></a>
                                                    <a href="{{ url_for('post.post_details',id = posts[i][0]) }}"
                                                       class="readmore-btn">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    {% endblock %}

</div>

<!-- jQuery Library -->
<script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
<!-- Materialize js -->
<script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
</body>
</html>
