<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <!-- CSS  -->
    <link href="{{ url_for('static',filename='css/materialize.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <!-- Default Theme CSS File-->
    <link id="switcher" href="{{ url_for('static',filename='css/themes/default-theme.css') }}" type=" text/css"
          rel="stylesheet" media="screen,projection"/>
    <!-- Font -->
    <link href="{{ url_for('static',filename='css/icon.css') }}" rel="stylesheet">
</head>
<body>


<!-- BEGAIN PRELOADER -->
<div id="preloader">
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</div>
<!-- END PRELOADER -->

<div class="main-wrapper">
    <main role="main">
        <section id="blog-details">
            <div class="container">
                <div class="row">
                    <div class="s12 m8 l8">
                        <div class="blog-content blog-archive">
                            {% for i in range(length) %}
                                <!-- Start Single Blog-->
                                <div class="blog-post">
                                    <div class="card">
                                        {# 图片 #}
                                        <div class="card-image">
                                            {#                                            <img src="{{ url_for('static',filename='img/7.jpg') }}">#}
                                        </div>
                                        <div class="card-content blog-post-content">
                                            <h2>
                                                <a href="{{ url_for('post.post_details',id = posts[i][0]) }}">{{ posts[i][1] }}</a>
                                            </h2>
                                            <div class="meta-media">

                                                <div class="single-meta" style="display: inline;">
                                                    <img class="avatar"
                                                         style="width: 64px;height: 64px; border-radius: 5px;margin-right: 20px;"
                                                         src="{{ url_for('static',filename='img/avatar/7.jpg') }}"/>
                                                    <a href="#">用户：{{ authors[i][2] }}</a><br>
                                                    时间：<a>{{ posts[i][3] }}</a>
                                                </div>
                                                <div class="single-meta">
                                                    分类：<a href="#">电影</a>
                                                </div>
                                            </div>
                                            <p>{{ posts[i][2] }}</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="#" class="post-comment"><i
                                                    class="material-icons">comment</i><span>15</span></a>
                                            <a href="{{ url_for('post.post_details',id = posts[i][0]) }}"
                                               class="readmore-btn">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Start Pagination -->
                        <div class="row">
                            <div class="s12">
                                <ul class="pagination custom-pagination">
                                    <li><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                    <li class="active"><a href="#!">1</a></li>
                                    <li class="waves-effect"><a href="#!">2</a></li>
                                    <li class="waves-effect"><a href="#!">3</a></li>
                                    <li class="waves-effect"><a href="#!">4</a></li>
                                    <li class="waves-effect"><a href="#!">5</a></li>
                                    <li class="waves-effect"><a href="#!"><i
                                            class="material-icons">chevron_right</i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<!-- jQuery Library -->
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.1.1.js') }}"></script>
<!-- Materialize js -->
<script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
<!-- Skill Progress Bar -->
<script src="{{ url_for('static',filename='js/appear.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/pro-bars.min.js') }}" type="text/javascript"></script>
<!-- Owl slider -->
<script src="{{ url_for('static',filename='js/owl.carousel.min.js') }}"></script>
<!-- Mixit slider  -->
<script src="{{ url_for('static',filename='js/jquery.mixitup.js') }}"></script>
<!-- counter -->
<script src="{{ url_for('static',filename='js/waypoints.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.counterup.min.js') }}"></script>
<!-- Custom Js -->
<script src="{{ url_for('static',filename='js/custom.js') }}"></script>


</body>
</html>
